.container {
  position: fixed;
  bottom: 80px;
  right: 1.5px;
  padding: 10px;
}

.flexBox {
  display: flex;
  flex-direction: column;
}

.linkButton {
  margin: 10px;
}

.linkButtonNoLeftBorder {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  transition: all 0.1s !important;
}

@media (max-width: 996px) {
  .container {
    position: static;
    padding: 0px;
  }

  .flexBox {
    flex-direction: row;
  }

  .foldedTab {
    display: none;
  }

  .button {
    margin: 0px;
  }

  .linkItem {
    margin-right: 10px;
    display: none;
  }
}
