.container{
    position: fixed;
    bottom: 80px;
    right: 1.5px;
    padding: 10px;
}

.flexBox{
    display: flex;
    flex-direction: column;
}

.button{
    margin: 10px;
}
@media (max-width: 996px) {
    .container{
        position: static;
        padding: 0px;
    }

    .flexBox{
        flex-direction: row;
    }

    .foldedTab{
        display: none;
    }

    .button{
        margin: 0px;
        margin-right: 10px;
    }
}
