svg.railroad-diagram {
  background-color: hsl(30, 20%, 95%);
}

svg.railroad-diagram path {
  stroke-width: 3;
  stroke: black;
  fill: rgba(0, 0, 0, 0);
}

svg.railroad-diagram text {
  font: bold 12px NotoSans;
  text-anchor: middle;
  white-space: pre;
}

svg.railroad-diagram text.diagram-text {
  font-size: 12px;
}

svg.railroad-diagram text.diagram-arrow {
  font-size: 16px;
}

svg.railroad-diagram text.label {
  text-anchor: start;
}

svg.railroad-diagram text.comment {
  font: italic 12px NotoSans;
}

svg.railroad-diagram g.non-terminal text {
  /* font-style: italic; */
}

svg.railroad-diagram rect {
  stroke-width: 3;
  stroke: black;
  fill: #95adee;
}

svg.railroad-diagram rect.group-box {
  stroke: gray;
  stroke-dasharray: 10 5;
  fill: none;
}

svg.railroad-diagram path.diagram-text {
  stroke-width: 3;
  stroke: black;
  fill: white;
}

svg.railroad-diagram g.diagram-text:hover path.diagram-text {
  fill: #eee;
}

div.svg-box {
  width: 100%;
  overflow: auto;
}

[data-theme="dark"] svg.railroad-diagram path {
  stroke-width: 3;
  stroke: #474748;
  fill: rgba(0, 0, 0, 0);
}

[data-theme="dark"] svg.railroad-diagram rect {
  stroke-width: 3;
  stroke: gray;
  fill: #95adee;
}
