.button-3 {
  position: relative;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin: 8px 0;
  font-size: var(--ifm-font-size-base);
}

.button-3.learn-more {
  width: 10rem;
  height: auto;
}

[data-theme="dark"] .button-3.learn-more .button-text {
  color: #fff;
}

.button-3.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #282936;
  border-radius: 1.625rem;
}

.button-3.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.button-3.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.425rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button-3.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button-3 .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.65rem 0;
  margin: 0 0 0 1.625rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.button-3:hover .circle {
  width: 10rem;
}

.button-3:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.button-3:hover .button-text {
  color: #fff;
}
