.panel-wrapper {
  font-size: 14px;
}
.panel-wrapper ul li {
  list-style: none;
  cursor: pointer;
  padding: 15px 17px;
  line-height: 20px;
}
.panel-wrapper ul li:hover {
  background-color: #d4ecf8;
}
.panel-wrapper .pl-4 {
  padding-left: 16px;
}

.panel-wrapper > p {
  color: #666c6f;
}

.panel-wrapper > ul {
  color: #3a3a3a;
}
