.leftGroup {
  display: flex;
  flex-direction: row;
}

.rightGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breakLine {
  width: 75%;
  height: 1px;
  background-color: var(--ifm-color-emphasis-300);
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.leftGroupContainer {
  display: flex;
  flex-direction: column;
}

.rightGroupButtonGroup {
  margin-top: 4px !important;
  display: flex;
  flex-direction: row;
  margin-left: 0 !important;
}

.rightGroupButton {
  margin-right: 5px;
}

.communityLinkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkDesc {
  display: none;
}

button.footerButton {
  color: #7798ef;
  font-family: NotoSans;
  font-size: 14px;
  text-transform: none;
  border: 1px solid #7798ef;
}

p.rightText {
  font-weight: 100;
  margin-right: 20px;
  color: #999;
}

@media screen and (max-width: 1440px) {
  .container {
    flex-direction: column;
  }

  div.rightGroup {
    margin-top: 10px;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 996px) {
  .linkDesc {
    display: block;
  }

  .rightGroupButtonGroup {
    flex-direction: row;
    align-items: flex-start;
  }

  .breakLine {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  div.rightGroup {
    flex-direction: column;
    align-items: flex-start;
  }

  .rightGroupButtonGroup {
    flex-direction: row;
    align-items: flex-start;
  }

  .communityLinkContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .breakLine {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .rightGroupButtonGroup {
    flex-direction: row;
    align-items: flex-start;
  }
}
