.leftGroup {
  display: flex;
  flex-direction: row;
}

.rightGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breakLine {
  width: 75%;
  height: 1px;
  background-color: var(--ifm-color-emphasis-300);
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

[data-theme="dark"] .breakLine {
  background-color: #152c3c;
}

.leftGroupContainer {
  display: flex;
  flex-direction: column;
}

.rightGroupButtonGroup {
  margin-top: 4px !important;
  display: flex;
  flex-direction: row;
}

.rightGroupButton {
  margin-right: 5px;
}

.communityLinkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkDesc {
  display: none;
}

button.footerButton {
  color: #0098ef;
  font-size: 14px;
  text-transform: none;
  border: 1px solid #0098ef;
  font-family: var(--ifm-font-family-base);
}

[data-theme="dark"] button.footerButton {
  border: 1px solid var(--ifm-button-color);
  color: var(--ifm-button-color);
}

p.rightText {
  font-weight: 100;
  margin-right: 20px;
  color: #999;
  font-family: var(--ifm-font-family-base);
}

@media screen and (max-width: 1440px) {
  .container {
    flex-direction: column;
  }

  div.rightGroup {
    margin-top: 10px;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 996px) {
  .linkDesc {
    display: block;
  }

  .rightGroupButtonGroup {
    flex-direction: row;
    align-items: flex-start;
  }

  .breakLine {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  div.rightGroupContainer {
    justify-content: center;
  }
  
  div.rightGroup {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rightGroupButtonGroup {
    flex-direction: row;
    align-items: flex-start;
  }

  .communityLinkContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .breakLine {
    width: 100%;
  }

  p.rightText {
    margin: 0 auto;
    text-align: center;
  }

  .rightGroupButtonGroup {
    justify-content: center;
  }

  button.footerButton {
    font-size: x-small;
  }
}

@media screen and (max-width: 350px) {
  .rightGroupButtonGroup {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (min-width: 997px) {
  .happyReact {
    max-width: 75% !important;
  }
}

.happyReact {
  margin-top: 16px;
}

.happyReact .title {
  font-family: var(--ifm-font-family-base) !important;
  text-align: center;
}

.happyReact .grid {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.happyReact .cell {
  width: 4rem;
}

.happyReact .reaction {
  width: 100%;
  color: #0098ef;
  border: #0098ef 1px solid;
  border-radius: 4px;
  margin-bottom: 1rem;
}

[data-theme="dark"] .happyReact .reaction {
  border: 1px solid var(--ifm-button-color);
  color: var(--ifm-button-color);
}

.happyReact .reaction:hover {
  color: #0098ef88;
  border-radius: 4px;
  border: #0098ef 1px solid;
  background-color: #1976d20a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.happyReact .powered-by {
  display: none;
  color: #e3e3e3;
  margin-top: 10px;
  margin-left: 0;
}
