.contributeButton {
    font-weight: bold;
    margin-top: 15px;
}

.buttonIcon {
    margin-right: 5px!important;
}

.formInput {
    width: 320px;
    border-radius: 5px;
    padding: 10px;
}

.sendButton {
    float: right;
    font-weight: bold;
}

.closeButton {
    float: right;
    margin-right: 5px!important;
    font-weight: bold;
}