.contributeButton, .ajustButton {
    font-weight: bold;
    margin-top: 15px;
}

.ajustButton {
    margin-right: 15px!important;
}

.buttonIcon {
    margin-right: 5px!important;
}

.formInput {
    width: 320px;
    border-radius: 5px;
    padding: 10px;
}

.sendButton {
    float: right;
    font-weight: bold;
}

.closeButton {
    float: right;
    margin-right: 5px!important;
    font-weight: bold;
}

.inputLabel {
    color:  rgb(107, 107, 107);
    font-weight: 500;
}

.icon-button {
    min-width: 10px!important;
    background-color: rgb(235, 232, 232)!important;
    padding: 5px!important;
    margin-left: 25px!important;
}

.icon-button:hover {
    background-color: rgb(177, 176, 176)!important;
}

.icon-button-img {
    width: 30px;
    height: 30px;
}
