.answer-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #3a3a3a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.answer-wrapper > .icon {
  height: 20px;
  margin-right: 6px;
}

.answer-wrapper > .answer-content {
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  padding: 12px 15px 20px;
  border: 1px solid #f0f0f0;
  background: #ffffff;
}
