.internalExpand {
  display: none;
}

.docSidebarHeadingColor,
.docSidebarHeadingColor:hover {
  color: var(--ifm-heading-color) !important;
}

.docSidebarItemCategoryUnderline {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(164, 162, 162, 0.16);
  border-radius: 0;
}

[data-theme="dark"] .docSidebarItemCategoryUnderline {
  border-bottom: 1px solid var(--ifm-card-border-color);
}

.internalExpandedLink::after {
  background: none !important;
}

.collapsedLists::after,
.internalExpandButton::before {
  background: no-repeat center url(/static/img/plus.svg);
  filter: var(--ifm-menu-link-sublist-icon-filter);
  content: "";
  margin-left: auto;
  min-width: 1.25rem;
  filter: none;
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(0);
  transform-origin: center;
  transition: none;
}

.nonCollapsedLists::after,
.internalExpandCollapseButton::before {
  content: "";
  margin-left: auto;
  min-width: 1.25rem;
  filter: none;
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(0);
  transform-origin: center;
  background: no-repeat center url(/static/img/minus.svg);
  transition: background 200ms ease-out;
}
