div.cardContainer {
  background: none;
  border-radius: var(--ifm-pagination-nav-border-radius);
  transition: all 300ms ease;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

[data-theme="dark"] div.cardContainer {
  border: 1px solid #a6a6a6;
}

div.defaultContainer {
  border-radius: var(--ifm-pagination-nav-border-radius);
  margin: 1rem 0;
  width: 100%;
}

[data-theme="dark"] div.defaultContainer {
  background: none;
  border: 1px solid #a6a6a6;
}

div.cardContainer:hover {
  border: 1px solid #cddbff;
  box-shadow: 0 0 0 1px #cddbff;
}

[data-theme="dark"] div.cardContainer:hover {
  border: 1px solid #48dcbc;
  box-shadow: 0 0 0 1px #48dcbc;
}

div.cardContent {
  padding-bottom: 1rem;
  font-family: var(--ifm-font-family-base);
}

div.title {
  margin-bottom: 1.4rem;
}

p.content {
  font-size: 1rem;
}

[data-theme="dark"] div.title,
[data-theme="dark"] p.content,
div.title,
p.content,
p.cardLink {
  color: var(--ifm-font-color-base);
  font-family: var(--ifm-font-family-base);
}

p.cardLink {
  display: flex;
  align-items: center;
  gap: 2px;
}

div.title,
p.content,
p.cardLink {
  font-family: var(--ifm-font-family-base);
}

button.cardBtn {
  text-transform: none;
}

p.cardLinks {
  margin-top: 1rem;
}

p.cardLink {
  cursor: pointer;
  color: var(--ifm-button-color);
  font-size: 1rem;
  margin-bottom: 0.1rem;
  margin-right: 4px;
  border: 1px solid transparent;
}

p.cardLink:hover {
  color: var(--ifm-menu-color-active);
  border-bottom: 1px dotted #95adee88;
}

div.flexBox {
  color: var(--ifm-button-color);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

p.cardLink:hover .externalArrowIcon path {
  stroke: var(--ifm-menu-color-active);
}

[data-theme="dark"] .externalArrowIcon path {
  stroke: #48dcbc;
}

[data-theme="dark"] p.cardLink:hover .externalArrowIcon path {
  stroke: var(--ifm-menu-color-active);
}

p.cardLink:hover .rightArrowIcon path:nth-child(2) {
  fill: #95adee88;
}
