.tabList {
  margin-top: 0 !important;
  border-bottom: none !important;
}

.tabItem {
  margin-top: 0 !important;
}

.tabs {
  border-bottom: 1px solid var(--ifm-tabs-color-active-border) !important;
}

.tabsActive {
  color: #95adee;
  border-bottom: 3px solid var(--ifm-tabs-color-active-border) !important;
}
