.notify-button {
  vertical-align: middle;
  display: inline;
  width: 100%;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: #95adee;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 12px 36px;
}

.btn--primary:hover {
  background: #6c7ff2;
}

.btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
  margin-left: -108px;
}

.form-field {
  border-radius: 6px;
  width: 300px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.2), -2px -6px 10px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
  padding: 18px 16px;
}

[data-theme="dark"] .form-field {
  background: #aaaaaacc;
  color: #fff;
}

[data-theme="dark"] .form-field::placeholder {
  color: #fff;
}

.notify {
  cursor: pointer;
}

.searchbox-wrap {
  display: flex;
  width: 100%;
  border-radius: 18px;
  box-shadow: rgb(0 0 0 / 19%) -5px 0px 6px 1px, rgb(0 0 0 / 19%) 5px 4px 6px 1px;
}

.searchbox-wrap input {
  flex: 1;
  padding: 20px 16px;
  background-color: field;
  font-size: 14px;
  -webkit-border-top-left-radius: 18px;
  -webkit-border-bottom-left-radius: 18px;
  -moz-border-radius-topleft: 18px;
  -moz-border-radius-bottomleft: 18px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  box-shadow: none;
  border: none;
  margin: 0;
}

.searchbox-wrap input:focus {
  outline: none;
  border: none;
  margin: 0;
  background-color: field;
}

[data-theme="dark"] .searchbox-wrap button {
  outline: none;
  border: none;
  margin: 0;
  background-color: field;
}

.searchbox-wrap button {
  margin: 0;
  padding-right: 4px;
  background-color: #fff;
  -webkit-border-top-right-radius: 18px;
  -webkit-border-bottom-right-radius: 18px;
  -moz-border-radius-topright: 18px;
  -moz-border-radius-bottomright: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border: none;
  cursor: pointer;
  cursor: hand;
}

.searchbox-wrap button span {
  margin-left: 18px;
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-color: #95adee;
  border-radius: 14px;
  white-space: nowrap;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19);
}

.searchbox-wrap button span:hover {
  background-color: #6c7ff2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.19);
}

/**
 * Tooltip Styles
 */
[data-tooltip] {
  position: relative;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 100%;
  left: 200%;
  margin-top: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 100%;
  left: 200%;
  margin-left: -180%;
  border-bottom: 5px solid #000;
  border-bottom: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 0;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.newsletter-form {
  --primary: #6386e6;
  --primary-dark: #2055ee;
  --primary-darkest: #133fc0;
  --input-placeholder: #a6accd;
  --input-text: #646b8c;
  --border-default: #e1e6f9;
  --border-active: #275efe;
  --background: #fff;
  --button-text: #ffffff;
  --success: #275efe;
  --trails: rgba(39, 94, 254, 0.15);
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  background: var(--background);
  box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border, var(--border-default));
  border-radius: 9px;
  padding-right: 4px;
  transition: box-shadow 0.25s;
}

[data-theme="dark"] .newsletter-form {
  background-color: #181a1b;
  box-shadow: inset 0 0 0 var(--border-width, 1px) #747986;
}

.newsletter-form input:-webkit-autofill {
  -webkit-text-fill-color: var(--input-text) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.newsletter-form input,
.newsletter-form button {
  -webkit-appearance: none;
  background: none;
  outline: none;
  display: block;
  border: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.newsletter-form input {
  width: 100%;
  flex-grow: 1;
  padding: 12px 12px 12px 16px;
  color: var(--input-text);
  font-weight: 400;
}

.newsletter-form input::-moz-placeholder {
  color: var(--input-placeholder);
}

.newsletter-form input:-ms-input-placeholder {
  color: var(--input-placeholder);
}

.newsletter-form input::placeholder {
  color: var(--input-placeholder);
}

.newsletter-form button {
  --text-opacity: 1;
  --success-x: -12px;
  --success-stroke: 14px;
  --success-opacity: 0;
  --border-radius: 7px;
  --overflow: hidden;
  --x: 0px;
  --y: 0px;
  --rotate: 0deg;
  --plane-x: 0px;
  --plane-y: 0px;
  --plane-opacity: 1;
  --trails-stroke: 57px;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0%;
  --left-wing-first-y: 0%;
  --left-wing-second-x: 50%;
  --left-wing-second-y: 0%;
  --left-wing-third-x: 0%;
  --left-wing-third-y: 100%;
  --left-body-background: var(--primary);
  --left-body-first-x: 50%;
  --left-body-first-y: 0%;
  --left-body-second-x: 50%;
  --left-body-second-y: 100%;
  --left-body-third-x: 0%;
  --left-body-third-y: 100%;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 50%;
  --right-wing-first-y: 0%;
  --right-wing-second-x: 100%;
  --right-wing-second-y: 0%;
  --right-wing-third-x: 100%;
  --right-wing-third-y: 100%;
  --right-body-background: var(--primary);
  --right-body-first-x: 50%;
  --right-body-first-y: 0%;
  --right-body-second-x: 50%;
  --right-body-second-y: 100%;
  --right-body-third-x: 100%;
  --right-body-third-y: 100%;
  position: relative;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  font-weight: 500;
  cursor: var(--button-cursor, not-allowed);
  filter: var(--button-filter, grayscale(65%));
  color: var(--button-text);
  border-radius: var(--border-radius);
  transform: translateZ(0);
  transition: opacity 0.25s, filter 0.25s;
  -webkit-tap-highlight-color: transparent;
}

.newsletter-form button {
  background-color: var(--primary);
}

.newsletter-form.valid button:hover {
  background-color: #3d67d7;
}

.newsletter-form button .plane,
.newsletter-form button .trails {
  pointer-events: none;
  position: absolute;
}

.newsletter-form button span {
  display: block;
  position: relative;
  z-index: 4;
  opacity: var(--text-opacity);
}

.newsletter-form.valid {
  --button-opacity: 1;
  --button-cursor: pointer;
  --button-filter: grayscale(0%);
}
