.light {
  cursor: pointer;
  margin: 4px 0;
  margin-right: 8px;
  display: inline-block;
  appearance: none;
  font-size: var(--ifm-font-size-base);
  border-radius: 4px;
  color: #0098ef;
  background: #0098ef2e;
  font-weight: 500;
  line-height: 24px;
  list-style: none;
  padding: 8px 18px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  word-wrap: break-word;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.light:hover {
  background-color: #00a2ff62;
  text-decoration: none;
  transition-duration: 0.1s;
}

[data-theme="dark"] .light {
  color: var(--ifm-button-color);
  background: var(--ifm-button-background-color);
}

[data-theme="dark"] .light:hover {
  background-color: var(--ifm-button-hover-background-color);
  text-decoration: none;
  transition-duration: 0.1s;
}

[data-theme="dark"] .default:active {
  background-color: var(--ifm-button-hover-background-color);
}

.light:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.light:active {
  background-color: #edeff2;
  transition: none 0s;
}

.light:focus {
  outline: 1px transparent;
}

.light:before {
  display: none;
}

.light:-webkit-details-marker {
  display: none;
}

.block {
  display: block !important;
}
