/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-pre-background: red;
  --test: #98e1ff;
  --ifm-color-primary: #0098ef;
  --ifm-color-primary-dark: #0098ef;
  --ifm-color-primary-darker: #0069a8;
  --ifm-color-primary-darkest: #002c42;
  --ifm-color-primary-light: #69d7fc;
  --ifm-color-primary-lighter: #98e1ff;
  --ifm-color-primary-lightest: #c4ecfc;
  --ifm-color-navy-blue-300: #98c6d9;
  --ifm-color-neutral-400: #b3b3b3;
  --ifm-color-neutral-900: #16171a;
  --ifm-navbar-link-color: #16171a;
  --ifm-button-background-color: var(--ifm-color-primary-dark);
  --ifm-button-hover-background-color: #0179be;
  --ifm-button-color: #0179be;

  --ifm-card-border-radius: var(--ifm-pagination-nav-border-radius);

  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 92%;
  --ifm-z-index-fixed: 200;
  --ifm-font-family-base: "Roboto", sans-serif;
  --ifm-font-family-button: "Roboto", sans-serif;
  --ifm-paragraph-margin-bottom: 0.5rem;
  --ifm-list-paragraph-margin: 0.2rem;
  letter-spacing: 0px;
  --ifm-font-family-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  --doc-sidebar-width: 260px !important;
  --ifm-tabs-padding-vertical: 0.5rem !important;
  --ifm-navbar-height: 3rem;

  --ifm-docs-page-width-xl: 1280px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #48dcbc;
  --ifm-color-primary-dark: #4bb1ec;
  --ifm-color-primary-darker: #0098ef;
  --ifm-color-primary-darkest: #0175b8;
  --ifm-color-primary-light: #b6c7f3;
  --ifm-color-primary-lighter: #c7d4f6;
  --ifm-color-primary-lightest: #233064;
  --ifm-background-color: #1f2765;
  --ifm-navbar-link-color: #e3e3e3;
  --ifm-heading-color: #e3e3e3;

  --ifm-button-background-color: linear-gradient(0deg, rgba(72, 220, 188, 0.1), rgba(72, 220, 188, 0.1)), #0a3246;
  --ifm-button-hover-background-color: #102432;
  --ifm-button-color: #48dcbc;

  --ifm-blockquote-color: #b8c4c9;
  --ifm-font-color-base: #b8c4c9;
  --ifm-menu-color: #b8c4c9;
  --ifm-toc-link-color: #b8c4c9;

  --ifm-color-success-dark: rgb(0, 139, 0);
  --ifm-color-success-darker: rgb(0, 139, 0);
  --ifm-color-success-darkest: rgb(0, 115, 0);
  --ifm-color-success-light: rgb(38, 178, 38);
  --ifm-color-success-lighter: rgba(77, 191, 77, 0.212);
  --ifm-color-success-lightest: rgb(128, 210, 128);

  --docsearch-primary-color: var(--ifm-color-primary-darkest) !important;
}

[data-theme="dark"] hr {
  background-color: #16545e;
}

html[data-theme="dark"] {
  --ifm-background-color: #091720;
  --ifm-background-surface-color: #222f3d;
  --ifm-hover-overlay: #ffffff0d;
  --ifm-color-content: #e3e3e3;
  --ifm-color-content-secondary: #fff;
  --ifm-link-color: #48dcbc;
  --ifm-tabs-color-active-border: #48dcbc;
  --ifm-tabs-color-active: #48dcbc;
  --ifm-code-background: #fafafa28;
  --ifm-breadcrumb-color-active: #48dcbc;
  --ifm-menu-color-active: #48dcbc;
  --ifm-menu-color: #9da1a6;
  --docusaurus-collapse-button-bg: #091720 !important;
  --ifm-toc-border-color: #001f2b;

  --ifm-card-background-color: #081f29;
  --ifm-card-border-color: #152c3c;
}

/* custom sidebar menu */
.theme-doc-sidebar-container {
  border-right: none !important;
}

.theme-doc-sidebar-item-category-level-1>div>a,
.theme-doc-sidebar-item-category-level-1>div>a:hover {
  color: var(--ifm-color-emphasis-700);
  padding-top: 1.4rem;
}

.theme-doc-sidebar-item-category-level-1>div:hover {
  background: none;
  color: var(--ifm-color-primary);
}

.menu__link {
  font-size: 1rem;
}

.menu__list .menu__list {
  padding-left: 0;
}

.theme-doc-sidebar-item-category-level-2 .menu__list .menu__link {
  padding-left: calc(var(--ifm-menu-link-padding-horizontal) + 0.5rem);
}

.theme-doc-sidebar-item-category-level-3 .menu__list .menu__link {
  padding-left: calc(var(--ifm-menu-link-padding-horizontal) + 0.5rem * 2);
}

.theme-doc-sidebar-item-category-level-4 .menu__list .menu__link {
  padding-left: calc(var(--ifm-menu-link-padding-horizontal) + 0.5rem * 3);
}

/* custom nav bar */
.navbar .navbar__inner {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
  align-items: center;
  margin: 0 auto;
}

.navbar__link {
  font-weight: 400;
}

.navbar--fixed-top {
  justify-items: center;
  align-items: center;
  background-color: #ffffffeb;
}

[data-theme="dark"] .navbar--fixed-top {
  background-color: #091720f5;
}

.clean-btn {
  --ifm-color-emphasis-200: var(--ifm-color-gray-800);
}

.clean-btn.navbar-sidebar__back {
  color: var(--ifm-color-gray-600);
}

[data-theme="dark"] .clean-btn {
  color: var(--ifm-color-gray-400);
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.1rem;
}

.markdown>h2 {
  --ifm-h2-font-size: 1.4rem;
}

.markdown>h3 {
  --ifm-h3-font-size: 1.3rem;
}

/* hide home icon in breadcrumbs */
.breadcrumbs li:first-child {
  display: none !important;
}

h1 {
  font-family: Roboto;
  letter-spacing: -0.01em;
  font-weight: 300;
}

h2 {
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--ifm-color-neutral-900);
}

[data-theme="dark"] h2 {
  border-bottom: 1px solid var(--ifm-color-primary);
}

h3 {
  font-weight: 400;
}

/* Custom Ordered List  */
.theme-doc-markdown ol:not(.tabs) {
  counter-reset: circle-counter;
  margin-left: 0;
  padding-left: 0.5rem;
}

.theme-doc-markdown ol>li:not(.tabs__item) {
  list-style: none;
  margin-bottom: 1rem;
}

div[role="tabpanel"] ol>li:not(.tabs__item) {
  list-style: decimal;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.theme-doc-markdown ol li:not(.tabs__item)>*:not(:first-child, code, strong) {
  margin-left: 1.5rem;
}

.theme-doc-markdown>ol>li:not(.tabs__item)> :first-child:not(code, strong)::before {
  font-size: 0.75rem;
  font-weight: bold;
  counter-increment: circle-counter;
  content: counter(circle-counter);
  background-color: #e1e1e1;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  color: #002c42;
  text-align: center;
  position: relative;
  top: -2px;
  left: -0.5rem;
}

/* Custom Search Box */
.DocSearch.DocSearch-Button {
  border: 2px solid;
}

.DocSearch-Hit-content-wrapper {
  font-weight: 400 !important;
}

/* Custom Unordered List */
.theme-doc-markdown ul li:not(.tabs__item)::marker {
  color: #909090;
  font-size: 1.1rem;
}

/* Custom sidebar expand button */
.menu {
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.theme-doc-sidebar-menu>.theme-doc-sidebar-item-link-level-1 a {
  color: var(--ifm-color-emphasis-700);
  padding-top: 1.4rem;
}

.menu__list>.theme-doc-sidebar-item-category ul a {
  font-weight: 400;
}

/* make the arrow icon of menu item without a linked index page smaller (1.5rem) */
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

/* make the arrow icon of menu item with a linked index page smaller (1.5rem) */
.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  overflow-x: hidden;
}

table,
[data-theme="dark"] table {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  overflow: initial;
  table-layout: fixed;
  text-indent: 0;
  border-collapse: separate;
  border-spacing: 0px;
}

thead tr {
  overflow-x: hidden;
}

thead {
  top: 2.9rem;
  z-index: 20;
  display: block;
  position: sticky;
}

tbody {
  width: 100%;
  display: block;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

table thead tr {
  width: 100%;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

thead tr th,
tbody tr td {
  min-width: 8rem;
  width: 20%;
  max-width: 100%;
  word-break: break-word;
}

thead tr th:first-child,
tbody tr td:first-child {
  min-width: 12rem;
  width: 10%;
  max-width: 100%;
}

@media (min-width: 1024px) {

  thead tr th:first-child,
  tbody tr td:first-child {
    min-width: 13rem;
    width: 10%;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {

  thead tr th:first-child,
  tbody tr td:first-child {
    min-width: 14rem;
    width: 10%;
    max-width: 100%;
  }
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: 30%;
  max-width: 100%;
}

thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
  width: 30%;
  max-width: 100%;
}

thead tr th:nth-child(4),
tbody tr td:nth-child(4) {
  width: 30%;
  max-width: 100%;
}

thead tr::-webkit-scrollbar {
  display: none;
}

table tr:nth-child(2n) {
  background-color: white;
}

[data-theme="dark"] table tr:nth-child(2n) {
  background-color: var(--ifm-table-background);
}

table thead th {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 12px;
  border: none;
  background-color: white;
  border-bottom: 0.9px solid var(--ifm-color-neutral-400);
}

[data-theme="dark"] table thead th {
  border-bottom: 0.9px solid var(--ifm-color-navy-blue-300);
}

[data-theme="dark"] table th {
  background-color: #091720;
}

table tbody tr td {
  border: none;
  border-spacing: 0;
  border-top: 1px solid #e5e7eb;
}

[data-theme="dark"] td {
  border-top: 1px solid var(--ifm-card-border-color);
}

thead tr:first-child {
  border-bottom: none;
}

table tr:first-child td,
table tr:first-child {
  border-top: none;
}

.scrollHint {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 48px;
  height: 48px;
  max-height: 100%;
  background: rgba(211, 211, 211, 0.85);
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
  animation: slide-left 2s ease-in infinite both;
}

[data-theme="dark"] .scrollHint {
  background-color: rgba(199, 199, 199, 0.95);
}

.scrollHint.visible {
  display: flex;
}

.scrollHint.invisible {
  display: none;
}

.scrollHint::before {
  display: block;
  width: 50%;
  height: 50%;
  background: url(../../static/img/swipe-left.png) 50% / contain no-repeat;
  content: "";
}

.row {
  width: 100%;
}

@-webkit-keyframes slide-left {

  0%,
  30% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    opacity: 0;
  }
}

@keyframes slide-left {

  0%,
  30% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    opacity: 0;
  }
}

/* Codeblock with comment */
.container .language-sql+div.theme-code-block:not(.language-sql) {
  border-top: 0;
  margin-top: -28px;
  padding-top: 0;
}

.container .language-sql+div.theme-code-block:hover div button {
  display: none;
}

/* Footer */
.pagination-nav__label {
  font-weight: normal;
}

html.mdx-page h2 {
  --ifm-heading-margin-top: 2rem;
}

/* images border */
.markdown img:not(.disabled-zoom, .icon) {
  border: 2px solid #ededed;
  border-radius: 15px;
  padding: 3px;
}

[data-theme="dark"] .markdown img:not(.disabled-zoom, .icon) {
  border: 2px solid #0a3246;
}