/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --test: #5577d6;
  --ifm-color-primary: #95adee;
  --ifm-color-primary-dark: #7493e9;
  --ifm-color-primary-darker: #6386e6;
  --ifm-color-primary-darkest: #3160de;
  --ifm-color-primary-light: #b6c7f3;
  --ifm-color-primary-lighter: #c7d4f6;
  --ifm-color-primary-lightest: #f9fafe;
  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 92%;
  --ifm-z-index-fixed: 200;
  --ifm-font-family-base: NotoSans;
  --ifm-paragraph-margin-bottom: 0.5rem;
  --ifm-list-paragraph-margin: 0.2rem;
  letter-spacing: 0px;
}

/* hide home icon in breadcrumbs */
.breadcrumbs li:first-child {
  display: none !important;
}

h1 {
  font-family: NotoSans-ExtraLight !important;
}

h2 {
  font-family: NotoSans !important;
}

h3 {
  font-family: NotoSans-Medium !important;
}

h4 {
  font-family: NotoSans-SemiBold !important;
}

@font-face {
  font-family: NotoSans;
  src: local("NotoSans"), url(/static/font/NotoSans-Regular.ttf) format("ttf"),
    url(/static/font/NotoSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-Medium;
  src: local("NotoSans-Medium"), url(/static/font/NotoSans-Medium.ttf) format("ttf"),
    url(/static/font/NotoSans-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-Thin;
  src: local("NotoSans-Thin"), url(/static/font/NotoSans-Thin.ttf) format("ttf"),
    url(/static/font/NotoSans-Thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-SemiBold;
  src: local("NotoSans-SemiBold"), url(/static/font/NotoSans-SemiBold.ttf) format("ttf"),
    url(/static/font/NotoSans-SemiBold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-ExtraLight;
  src: local("NotoSans-ExtraLight"), url(/static/font/NotoSans-ExtraLight.ttf) format("ttf"),
    url(/static/font/NotoSans-ExtraLight.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #95adee;
  --ifm-color-primary-dark: #7493e9;
  --ifm-color-primary-darker: #6386e6;
  --ifm-color-primary-darkest: #3160de;
  --ifm-color-primary-light: #b6c7f3;
  --ifm-color-primary-lighter: #c7d4f6;
  --ifm-color-primary-lightest: #f9fafe;
  --ifm-background-color: #1f2765;

  --ifm-color-success-dark: rgb(0, 139, 0);
  --ifm-color-success-darker: rgb(0, 139, 0);
  --ifm-color-success-darkest: rgb(0, 115, 0);
  --ifm-color-success-light: rgb(38, 178, 38);
  --ifm-color-success-lighter: rgba(77, 191, 77, 0.212);
  --ifm-color-success-lightest: rgb(128, 210, 128);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}

[data-theme="dark"] table thead th {
  background-color: #474748;
  border: 1px solid #606770;
}

body {
  overflow-x: hidden;
}

table thead th {
  background-color: #e7e7e7;
  border: 1px solid #dadde1;
}

@media (max-width: 700px) {
  table {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    overflow: initial;
    table-layout: fixed;
  }

  thead {
    top: 55px;
    z-index: 20;
    display: block;
    position: sticky;
  }

  table thead tr {
    width: 100%;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  thead tr th,
  tbody tr td {
    min-width: 10rem;
    width: 20%;
    max-width: 100%;
  }

  thead tr th:first-child,
  tbody tr td:first-child {
    min-width: 12rem;
    width: 20%;
    max-width: 100%;
  }

  thead tr th:nth-child(2),
  tbody tr td:nth-child(2) {
    min-width: 14rem;
    width: 20%;
    max-width: 100%;
  }

  tbody {
    width: 100%;
    display: block;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }

  thead tr::-webkit-scrollbar {
    display: none;
  }

  thead tr {
    overflow-x: hidden;
  }
}

table {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  overflow: initial;
}

thead {
  top: 55px;
  z-index: 20;
  position: sticky;
}

thead th {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
}
