/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #95adee;
  --ifm-color-primary-dark: #7493e9;
  --ifm-color-primary-darker: #6386e6;
  --ifm-color-primary-darkest: #3160de;
  --ifm-color-primary-light: #b6c7f3;
  --ifm-color-primary-lighter: #c7d4f6;
  --ifm-color-primary-lightest: #f9fafe;
  --test: #5577d6;
  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 92%;
  --ifm-z-index-fixed: 200;

  /* font */
  --ifm-font-family-base: NotoSans;

  letter-spacing: 0px;
}

/* hide home icon in breadcrumbs */
.breadcrumbs li:first-child{
  display: none !important;
}

h1{
  font-family: NotoSans-ExtraLight !important;
}

h2{
  font-family: NotoSans !important;
}

h3{
  font-family: NotoSans-Medium !important;
}

h4{
  font-family: NotoSans-SemiBold !important;
}

@font-face {
  font-family: NotoSans;
  src: local("NotoSans"),
    url(/static/font/NotoSans-Regular.ttf) format("ttf"),
    url(/static/font/NotoSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-Medium;
  src: local("NotoSans-Medium"),
    url(/static/font/NotoSans-Medium.ttf) format("ttf"),
    url(/static/font/NotoSans-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-Thin;
  src: local("NotoSans-Thin"),
    url(/static/font/NotoSans-Thin.ttf) format("ttf"),
    url(/static/font/NotoSans-Thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-SemiBold;
  src: local("NotoSans-SemiBold"),
    url(/static/font/NotoSans-SemiBold.ttf) format("ttf"),
    url(/static/font/NotoSans-SemiBold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-ExtraLight;
  src: local("NotoSans-ExtraLight"),
    url(/static/font/NotoSans-ExtraLight.ttf) format("ttf"),
    url(/static/font/NotoSans-ExtraLight.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #95adee;
  --ifm-color-primary-dark: #7493e9;
  --ifm-color-primary-darker: #6386e6;
  --ifm-color-primary-darkest: #3160de;
  --ifm-color-primary-light: #b6c7f3;
  --ifm-color-primary-lighter: #c7d4f6;
  --ifm-color-primary-lightest: #f9fafe;
  --ifm-background-color: #1f2765;

  --ifm-color-success-dark: rgb(0, 139, 0);
  --ifm-color-success-darker: rgb(0, 139, 0);
  --ifm-color-success-darkest: rgb(0, 115, 0);
  --ifm-color-success-light: rgb(38, 178, 38);
  --ifm-color-success-lighter: rgba(77, 191, 77, 0.212);
  --ifm-color-success-lightest: rgb(128, 210, 128);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #DBDBDB;
}

ol {
  counter-reset: section;      
}

ol>li {
  counter-increment: section;
}

ol>li::marker {
  content: counter(section);
  list-style: none;
  font-size: 13px;
}

ol>li:before {
  content: " ";
  position: relative;
  float: left;
  width: 12px;
  height: 12px;
  left: -10.5px;
  top: 6px;
  text-align: center;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: none;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}


