@font-face {
  font-family: Montserrat;
  src: url(/static/font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Black;
  src: url(/static/font/Montserrat-Black.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(/static/font/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(/static/font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-Thin;
  src: url(/static/font/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(/static/font/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(/static/font/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Mulish;
  src: url(/static/font/Mulish-Regular.ttf);
}
