.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  /* box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%); */
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border;

  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[data-theme="dark"] .cardContainer {
  background-color: var(--ifm-card-background-color);
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  /* box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%); */
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  color: var(--ifm-font-color-base);
  font-size: 1.3rem;
  border-bottom: none !important;
}

.cardDescription {
  color: var(--ifm-font-color-base);
  font-size: 0.9rem;
}

@media (max-width: 554px) {
  .cardDescription {
    max-width: 330px;
  }
}