.default {
  cursor: pointer;
  margin: 4px 0;
  margin-right: 8px;
  display: inline-block;
  appearance: none;
  font-size: var(--ifm-font-size-base);
  background: var(--ifm-button-background-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

[data-theme="dark"] .default {
  background: #48dcbc;
  color: #091720;
}

.default:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.default:hover {
  background-color: var(--ifm-color-primary-darker);
}

[data-theme="dark"] .default:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    #48dcbc;
  color: #102432;
}

.default:focus {
  background-color: var(--ifm-color-primary-darker);
  outline: none;
}

.default:active {
  background-color: var(--ifm-color-primary);
  transition: none 0s;
}

[data-theme="dark"] .default:focus {
  border: 1px solid #c3d0f3;
}

.block {
  display: block !important;
}
